@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #FDF6F0;
  color: #4A4A4A;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FFD1DC;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb3c6;
}
